{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
      {% if ready %}
        <h1 class="mt-5" id='title'>Выберите категорию вопроса</h1>
      {% else %}
        <h1 class="mt-5" id='title'>Ждем создание уровня</h1>
      {% endif %}
      </div>
      <div id="categories" class="col-lg-12">
        {% for category in categories %}
        <div class="col-lg-6 text-center">
          <button type="button" class="btn btn-primary btn-lg btn-block mt-5">{{category}}</button>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
  var checkStageTimer;
  function checkStage() {
    $.ajax({
      url:'{% url "game:category_selection" %}',
      success: function(data){
        if (data.status=='ok') {
          if (data.ready==true) {
            clearInterval(checkStageTimer)
            $('#title').text('Выберите категорию вопроса');
            $('#categories').innerHtml = '';
            data.categories.forEach(function(category){
                let catString = "<div class='col-lg-6 text-center'><button type='button' class='btn btn-primary btn-lg btn-block mt-5'>"+category+"</button></div>"
                $('#categories').append(catString);
            })
          }
        }
      }
    });
  }
  {% if not ready %}
  checkStageTimer = setInterval(checkStage, 1000);
  {% endif %}
</script>
{% endblock %}