{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Представьтесь, пожалуйста</h1>
    </div>
    <div class="col-lg-12 text-center">
        <form action="{% url 'game:lobby' %}" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Имя">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="gameCode" name="gameCode" placeholder="Код игры">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Вперед!</button>
        </form>        
    </div>
</div>
{% endblock %}

