{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Привет, {{ player.name }}</h1>
    </div>

    <div class="col-lg-12 text-center">
        <div class="form-group mx-sm-3 mb-2">
            Ждем других игроков...
        </div>
        <div id="readybutton">
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-5" id='readybtn'>Все готовы!</button>
        </div>
    </div>

    <div class="col-lg-12 text-center">
        <div class="form-group mx-sm-3 mb-2">
            Уже в игре:
            <ul class="list-group list-group-horizontal" id='player_in_game'>
                {% for player_in_game in players_in_game %}
                <li class="list-group-item">{{player_in_game}}</li>
                {% endfor%}
            </ul>
        </div>
    </div>
    

</div>
{% endblock %}

{% block js %}
 <script type="text/javascript">
    function list_players_in_game() {
            $.ajax({
                method: "POST",
                url: "{% url 'game:list_players_in_game'%}", 
                data : {} 
            }).done(function (data) {
                if (data.status=='ok') {
                    $('#player_in_game').empty();
                    data.players.forEach(function(player_name){
                        $('#player_in_game').append('<li class="list-group-item">'+player_name+'</li>')
                    })
                } else {
                    alert(data.error);
                }
            })
        }
    list_players_in_game()
    let relist_players = setInterval(list_players_in_game, 5000);

    var gameStarted = false;
    function isGameStarted() {
            $.ajax({
                method: "POST",
                url: "{% url 'game:is_game_started' %}", 
                data : {} 
            }).done(function (data) {
                if (data.status=='ok') {
                    if(data.is_started == true) {
                        $('#readybtn').text('Погнали');
                        gameStarted = true;
                    }
                } else {
                    alert(data.error);
                }
            })
        }
    isGameStarted();
    let check_game = setInterval(isGameStarted, 5000);

    $('#readybtn').on('click', function(){
        if (gameStarted) {
            window.location.replace('{% url "game:category_selection" %}');
        } else {
            $.ajax({
                url: '{% url "game:all_ready" %}',
                success: function(data) {
                    if (data.status != 'ok') alert(data.error);
                }
            })
        }
    })
</script>
{% endblock %}