{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Введите на вашем игровом устройстве код игры:<br>{{game_code}}</h1>
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
function isGameStarted() {
            $.ajax({
                method: "POST",
                url: "{% url 'game:is_game_started' %}", 
                data : {game_code: '{{ game_code }}'} 
            }).done(function (data) {
                if (data.status=='ok') {
                    if (data.is_started == true) {
                        window.location.replace("{% url 'game:start_new_game_stage' %}?gameCode={{game_code}}")
                    } 
                } else {
                    alert(data.error);
                }
            })
        }
    let check_game = setInterval(isGameStarted, 5000);
</script>
{% endblock %}