{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">{{question.text}}</h1>
      </div>
      {% for answer in question.answers %}
      <div class="col-lg-6 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block mt-5">{{answer}}</button>
      </div>
      {% endfor %}
    </div>
{% endblock %}