{%  extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Выберите категорию вопроса. Уровень {{stage_id}}</h1>
      </div>
      {% for category in categories %}
      <div class="col-lg-6 text-center">
        <button class="btn btn-primary btn-lg btn-block mt-5">{{category.name}}</button>
      </div>
      {% endfor %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}